%span.delayed_job_admin_value.hidden
  = value
  %a{ href: '#', class: 'delayed_job_admin_toggle_info' }
    = 'Collapse'
%span.delayed_job_admin_display_value
  - if value
    = value[0...length]
    %a{ href: '#', class: 'delayed_job_admin_toggle_info' }
      = '...'
