= t('delayed_job_admin.queue_threshold_alert_mailer.send_alert.intro')
\n
= t('delayed_job_admin.queue_threshold_alert_mailer.send_alert.message', queue: @alert.queue_name, threshold: @alert.queue_threshold, depth: @alert.queue_depth)
\n
= t('delayed_job_admin.queue_threshold_alert_mailer.send_alert.footer')
