= t('delayed_job_admin.queue_threshold_alert_mailer.send_alert.intro')
\n
= t('delayed_job_admin.queue_threshold_alert_mailer.send_alert.message', queue: alert.queue, threshold: alert.threshold)
\n
= t('delayed_job_admin.queue_threshold_alert_mailer.send_alert.footer')
